@model IEnumerable<EFPractice.Models.Movie>

@{
    ViewBag.Title = $"Top{@Model.ToList().Count}Movies";
}

<h2>Movies</h2>
@{int Rank=1;}
<table class="table">
    <tr>
        <th>
            Rank
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gross)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.genres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actor_1_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movie_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imdb_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.Director_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Rank
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @item.gross.Value.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movie_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movie_imdb_link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @item.budget.Value.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imdb_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director.Director_Name)
            </td>
        </tr>          
        { Rank += 1; }

    }
 

</table>
