@model IEnumerable<Football.Models.Spotify>

@{
    ViewBag.Title = "Artist";
}

<h2>Artist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Top_Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beats_Per_Minute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Energy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Danceability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loudness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Liveness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acousticness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speechiness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popularity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Top_Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beats_Per_Minute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Energy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Danceability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loudness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Liveness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acousticness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speechiness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Popularity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Index }) |
            @Html.ActionLink("Details", "Details", new { id=item.Index }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Index })
        </td>
    </tr>
}

</table>
